.gallery {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  background-color: darkolivegreen;
}

main {
  background-color: darkolivegreen;
}

.Quote {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  background-color: darkolivegreen;
  padding-top: 25px;
  color: bisque;
  font-size: 28px;
  font-weight: lighter;
}

.h2 {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  background-color: darkolivegreen;
  padding-top: 5px;
  padding-bottom: 5px;
  color: bisque;
  font-size: 22px;
  font-weight: bold;
}

.Desc {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  background-color: darkolivegreen;
  padding-top: 2px;
  color: bisque;
  font-size: 12px
}

.Body {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  background-color: darkolivegreen;
  padding: 25px;
  color: black;
  font-size: 20px;
}

.button {
  padding-bottom: 50px;
}

.Gallery-header {
  background-image: url("./Album/Icarus.jpg");
  padding: 80px;
  background-position: center; /* Center the image */
  background-size: cover;
  background-blend-mode: lighten;
  font-family: freight-big-pro;
  font-weight: lighter;
  font-size: 28px;
  color: DarkOliveGreen;
  text-align: center;
}

.gallery-photo {
  width: 350px;
  height: 400px;
  object-fit: cover;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.5s ease;
}

.gallery-photo:hover {
  transform: scale(1.06);
}

.Links {
  padding: 45px;
  padding-bottom: 70px;
  text-align: center;
  background-color: darkolivegreen;
}

.Links h1 {
  padding-bottom: 40px;
  font-family: Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L", P052,
    Sylfaen, serif;
  font-weight: lighter;
  font-size: 22px;
  color: bisque;
}

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}